<section class="section jobs" id='education'>
    <div class="container">
        <div class="section-box">
            <div class="about-title mb-5" data-aos="fade-up" data-aos-duration="1000">
                <h3 class="e-font section-title">
                    <span class='code-font n-section-title'>02.</span> {{"Education.Title" | translate}}
                </h3>
            </div>
            <div class="jobs-tabs" data-aos="fade-up" data-aos-duration="1000">
              <ul ngbNav #nav="ngbNav" [(activeId)]="active" orientation="vertical" class="nav-tabs jobs-tabs">
                    <li *ngFor='let edu of "Education.Colleges" | translate; let i = index' [title]="edu.Tab" [ngbNavItem]="i">
                      <a ngbNavLink>{{edu.Tab}}</a>
                        <ng-template ngbNavContent>
                          <h4 class='title-tab-content'>{{edu.Title}} | <span class="company-tab-content">{{edu.Tab}}</span></h4>
                          <h5 class="job-time">{{edu.Date}}</h5>
                          <!-- {{job.Description | json}} -->
                          <p *ngFor='let jobDescriptionParagraph of edu.Description; let i = index' class="job-description"
                          [innerHTML]="jobDescriptionParagraph | translate"></p>
                          <span></span>
                          <!-- <div class="georgetown" data-aos="fade-up" data-aos-duration="1000">
                            <div class="education-image">
                              <img (click)='analyticsService.sendAnalyticEvent("click_image", "about", "image")' class="rounded " width="500" height="300" src='{{"assets/images/"+edu.collegeName+".jpeg"}}' alt='{{edu.collegeName}}'>
                            </div>
                          </div> -->
                        </ng-template>
                    </li>
              </ul>
              <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>

        </div>
    </div>
</section>
